.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-decoration:none;  
    background-color: #fff;
}

.item {
    float: left;    
    text-decoration:none; 
    background-color: #3598DC;
    border-style: solid;
    border-width: 0.5px;
    border-color: #ACB5C3;
    border-radius: 2px;
}
.item a {
    text-decoration:none;  
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.item a:hover {
    text-decoration:none;  
    background-color: #4B77BE;
    color:#fff;
} 